option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: ${RDS_ENDPOINT}
    RDS_PORT: 5432
    RDS_DB_NAME: ${DB_NAME}
    RDS_USERNAME: ${DB_USERNAME}
    RDS_PASSWORD: ${DB_PASSWORD}
    SPRING_PROFILES_ACTIVE: prod

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

  aws:elasticbeanstalk:container:java:
    JVM Options: -Xms256m -Xmx512m