aws_region     = "af-south-1"
project_name   = "dry-code-snippets"

# VPC settings (if creating a new VPC)
vpc_cidr       = "172.31.0.0/16"

# Database settings
db_identifier  = "dry-code-snippets-db"
db_name        = "drycodesnippetsdb"
db_username    = "dbadmin"
db_password    = "admin123"  
db_instance_class = "db.t3.micro"
db_engine_version = "17.3"
allocated_storage = 20
db_multi_az    = false
db_skip_final_snapshot = true